.col-lg-12
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "http://dms-intl.com/"} DMS
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a.pull-right{:href => "http://dms-intl.herokuapp.com/dashboard"} My DMS
          %li
            %a.pull-right{:href => "http://dms-intl.com/"} Back To Main Site
          %li
            - if user_signed_in?
              %a #{current_user.email}
          %li
            / User Login Data
            - if user_signed_in?
              #{link_to 'Sign out', destroy_user_session_path, :method => :delete}
            - else
              / = link_to 'Sign up', new_user_registration_path
              #{link_to 'sign in', new_user_session_path}