.col-md-12
  %ul.nav.nav-tabs
    %li
      %a{:href => "#"} About DMS
    %li{:role => "presentation"}
      %a{:href => "#"} Why DMS
    %li.dropdown{:role => "presentation"}
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        Our Services
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li
          %a{:href => "#"} XXXX
        %li
          %a{:href => "#"} XXXX
        %li
          %a{:href => "#"} XXXX
    %li{:role => "presentation"}
      %a{:href => "#"} DMS Trak
    %li{:role => "presentation"}
      %a{:href => "#"} Contact Us