.col-md-12
  %ul.nav.nav-tabs
    %li
      %a{:href => "/"} About DMS
    %li
      %a{:href => "/why"} Why DMS
    %li.dropdown
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        Our Services
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li
          %a{:href => "/air"} Air Freight
        %li
          %a{:href => "/ocean"} Ocean Frieght
        %li
          %a{:href => "/road"} Road Freight
        .divider
        %li
          %a{:href => "/fulfilment"} Fulfilment Services
        %li
          %a{:href => "/courier"} Courier Services
        .divider
        %li
          %a{:href => "/express"} DMS Express
    %li
      %a{:href => "/mydms"} My DMS
    %li
      %a{:href => "/trak"} DMS Trak
    %li
      %a{:href => "/contact"} Contact Us
