.row
  .col-md-12
    =image_tag('services_montage1.jpg', :class => 'col-md-4 montage1')
    .col-md-8
      //Home page text
      .title-text
        %h1 DMS International Freight and Courier Services

      .text-norm
        %p DMS International Limited is a privately-owned, worldwide logistics provider. Established in 1967, we have built an industry-wide reputation for expertise, reliability and integrity. We offer a tailored service across a multitude of markets to include warehousing, fulfilment, distribution, transport and complete supply chain management that is specific to individual customer requirements and designed to achieve the highest standard of efficiency, quality and value.

        %p Our modern facilities are located at key UK locations at Heathrow and Gatwick Airports, supported by a global network of agents representing us as partners we are committed in taking our company and clientele forward by providing an exhaustive range of cargo management solutions for the ever-changing world. DMS offer multiple industry/product experience and our philosophy is to create business partnerships with our customers providing dedicated staff and one point of contact and control.

        %p Our proactive approach and expertise enables us to take responsibility for the management of all logistics activities on behalf of our customers, which affords us an unrivalled reputation for providing the most efficient consumer direct service through our tailored warehouse management system. Our reputation has been built working alongside some of the most well know high profile companies, delivering stock around the World to their stores and replenishing any requirement they have via our own fleet of vehicles or selected partners.
        %p We are friendly team, totally professional, with  a no-nonsense approach, and we always deliver.