.col-lg-12
  %h2 Thank you
  .text-norm
    Your consignment will be scheduled for collection. A DMS agent will contact you to confirm. If you have any questions please email ops@dms-intl.com or call 01293 772608.
    / %br
    / [Log Out] This will take the customer to the DMS website home page.
    %br
    %br
    = link_to "Print Labels", label_path, :class => 'btn btn-primary'
    %br
    %br 
    = link_to "Place another order", new_order_path, :class => 'btn btn-primary'