.row
  .col-md-12
    =image_tag('air-freight-montage.jpg', :class => 'col-md-4')
    .col-md-8
      //Home page text
      .text-title
        %h1 Air Freight Services

      .text-norm
        With our offices located at London’s Heathrow & Gatwick Airports, DMS are ideally situated to provide worldwide Export and Import Air Freight Services. Our vast experience and extensive knowledge of global markets combined with the latest technology will help expedite the handling of your import and export shipments.
        %p 
        Our Air Freight Services include:
        %p
        %ul.col-md-4
          %li Track and Trace
          %p
          %li Project Cargo
          %p
          %li Airline Direct Shipments
          %p
          %li Daily Consolidation
          %p
          %li Charters
          %p
          %li Door to Door
          %p
          %li Worldwide Courier
        %ul.col-md-4
          %li Insurance
          %p
          %li Customs Clearance
          %p
          %li Consular Work
          %p
          %li Letters of Credit
          %p
          %li Cross Trade
          %p
          %li Cargo Assembly
          %p
          %li Packing
      .coverage.col-md-8
        %h2 COVERAGE 24/7/365

        