.row
  .col-md-12
    .col-md-4
      //Home page text
      .text-title
        %h1 DMS International Ltd.

      .text-norm
        %p London Heathrow: +44 (0)20 8897 1766
        Suite 207, UCH House, Old Bath Road, Colnbrook, Berkshire SL3 0NW

        %p London Gatwick: +44 (0)1293 772608
        Unit 1, Bridge Industrial Estate, Balcombe Road, Horley, Surrey RH6 9HU
    .col-md-8
      %h1 Contact DMS International
      
      FORM DATA HERE