.row
  .col-md-12
    =image_tag('courier-montage.jpg', :class => 'col-md-4')
    .col-md-8
      //Home page text
      .text-title
        %h1 DMS Courier Services

      .text-norm
        If you are looking for a company that you can trust with your important shipments then place your confidence in DMS International Courier Services.

        %p At DMS due to our massive buying power with the biggest courier companies in the world we can offer the very best courier rates and world class service at a fraction of the normal cost.

        %p DMS track all your parcels for you through our bespoke D-Trax system and give you live up dates via email so rest assured that if you don’t have the time to track your shipments we will be doing it for you

        %p We offer a free collection service from a UK address that is convenient for you

        %p DMS International has nearly 50 years’ experience in global shipping. With our expertise and the partners we can deal with any parcel you need to send.
