.row
  .col-md-12
    =image_tag('time_montage.jpg', :class => 'col-md-4')
    .col-md-8
      //Home page text
      .text-title
        %h1 DMS Express Time Critical Deliveries

      .text-norm
        DMS International Time Critical services operate globally, including emergency van services within the UK and mainland Europe, and express worldwide air services, providing immediate door-to-door solutions to the most challenging deadlines.   With the fastest loading times, DMS Express ensures your consignment is on its way and being driven directly to your customers door – direct 24/7/365.

        %p
        Our priority services were honed to support the aviation, automotive and pharmaceutical sectors, so line-stops and AOGs are all part of our daily demands. When scheduled flights aren’t fast enough, or flight shut-offs have been missed, our express direct drive vans and trucks will move those spares that simply cannot wait.

        %p
        DMS International are experienced road logistics specialists and aim to provide the highest quality service to all customers, and our network links all major countries, regions and cities.

        %p 
        Whatever the nature of the load or its degree of urgency, from routine to express, we have a comprehensive range of options that utilise our extensive fleet of state-of-the-art vehicles, each equipped with the latest load security and tracking technology, to ensure customers receive real-time transport management solutions and control.
