.row
  .col-md-12
    =image_tag('road-freight.jpg', :class => 'col-md-4')
    .col-md-8
      //Home page text
      .text-title
        %h1 Fulfilment Services

      .text-norm
        Our fulfilment experts can integrate our warehousing services with distribution and other value added services.

        %p On receipt of your goods our stock team, check the accuracy of the shipment, and ensure all your good have arrived undamaged.

        %p Each item is booked and then placed on our bespoke system, this enables you to check on your items using our 24hour web access. We look after your stock list and give you regular updates.

        %p Every order is packed to ensure your item arrives safely at its destination
        extensive multipurpose warehousing and storage facilities at all of our office locations including extra facilities strategically located worldwide.

        %p Our warehouse facilities are suitably equipped for customers requiring a large buffer, contingency store, transit store, and a facility to warehouse spares or to utilize for fabrication. Cutting edge inventory systems provide us the ability to dispatch urgent items to anywhere in the world.
        %p 
        DMS Fulfilment Services include:
        %p
        %ul.col-md-4
          %li Pick and Pack
          %p
          %li Packaging Services
          %p
          %li Stock Control
          %p
          %li Inventory Management Reports
          %p
          %li Web-based Inventory Tracking
          %p
          %li Bonded Warehouse
        %ul.col-md-4
          %li 24 hour CCTV
          %p
          %li Shipping
          %p
          %li Comercial Invoicing
          %p
          %li Stock Takes
          %p
          %li 24 hour Web Access
      .coverage.col-md-8
        %h2 Reliable Fulfilment Solutions

        