.row
  .col-md-12
    =image_tag('ocean-freight-montage.jpg', :class => 'col-md-4')
    .col-md-8
      //Home page text
      .text-title
        %h1 Ocean Freight Shipping

      .text-norm
        Ocean Freight Shipping is our most economic form of transportation. DMS International’s ocean freight division are able to arrange both worldwide import and export shipments. These services are tailored to meet our client’s requirements, from customs clearance to full door-to-door services to and from many destinations worldwide.

        %p 
        Full Container Loads (FCL) allow customers to have dedicated use of a container. Smaller shipments can be shipped on a group age service (LCL). Our experienced operatives are able to offer advice on any larger shipments including out-of-gauge, vehicles or project cargo.
        %p 
        DMS International Ocean Freight Services include:
        %p
        %ul.col-md-4
          %li FCL/LCL Services Worldwide
          %p
          %li Out of Gauge Cargo
          %p
          %li ERTS/Customs Warehousing
          %p
          %li Nationwide Delivery and Collection
          %p
          %li Customs Clearance – All UK Ports
        %ul.col-md-4
          %li Insurance
          %p
          %li Documentatiuon
          %p
          %li Letters of Credit
          %p
          %li Packing
      .coverage.col-md-8
        %h2 DMS Worldwide Import and Export Capabilities

        