.row
  .col-lg-12
    .col-md-4
      =image_tag 'dms-barcode-tracking.jpg'
    .col-md-8
      //Home page text
      .text-title
        %h1 DMS Trak
      .text-norm
        %a{:href => "https://www.boxtrax.com/login.aspx?owner=DMS"} Click here to track your packages.
        %p
        %p If you have any questions about your package or need any further information please call us on:

        %p London Heathrow: +44 (0)20 8897 1766

        %p London Gatwick: +44 (0)1293 772608

        