.row
  .col-lg-12
    =image_tag('services_montage1.jpg', :class => 'col-md-4 montage1')
    .col-md-8
      //Home page text
      .text-title
        %h1 Why DMS International

      .text-norm
        %p Established in 1967, DMS International is a full-service logistics provider specialising in solutions for the most demanding logistics challenges.

        %p With a complete understanding of the supply chain and an eye for detail, our dedicated and fully trained staff appreciate the need for a robust and visible supply chain, with all the intricate logistics requirements this entails.

        %p When an ultra-reliable operation is essential, be it a transport management system or a full third party distribution programme, DMS can provide a comprehensive logistics solution, tailored to your specific requirements. DMS provide a fully functional, accountable and integrated logistics package to suit small enterprises, SME’s and the largest corporations.

        Please take a moment to visit 
        %a our services
        pages for further information on the services provided by DMS International.