.banner{
  @extend .col-lg-12;
}
.contactnum{
  font-size: 12px;
  color: #999999;
  margin-top: 20px;
}
.logo3{
  margin-top: 20px;
  float: right;
}

//HOMEPAGE text
h1 {
  font: bold 22px/1.2em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  color: #333366;
}
h2 {
  font: bold 15px/1.2em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  color: #009966;
}
.entry, .entry p {
  font: 300 14px/1.5em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  color: #555555;
}
.entry p {
  margin-bottom: 1.2em;
}
.text-norm{
  padding-left: 20px;
  font-size: 17.5px;
  color: #555555;
}
.text-title{
  padding-left: 20px;
//  padding-bottom: 10px;
}
//NAVBAR
//.nav{
//  margin-top: 40px;
//  margin-bottom: 40px;
//}
//air freight
.coverage{
  text-align: center;
  width: 100%;
  height: 54px;
  background-color: #00FF00;
}
// Alerts
.alert{
  background-color: #99FF33;
  opacity: 0.9;
}
// Nav Bar
.navbar{
  background-color: white;
}
.navbar-nav{
  background-color: white;
}