// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ----- SimpleForm Styles ----- */

.string{
  width: 450px;
}
.text{
  width: 450px;
  max-width: 650px;
}
.form-horizontal .control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: 0;
  margin-top: 0px;
}
.numeric{
  width: 450px;
}
//table
.tableScroll{
    width:950px;
    max-width:950px;
    overflow-x:scroll;
}
//buton
.btn-primary{
  background-color: #00D174;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #00D174;
}
// Panel for orders
.orderpanel{
  padding: 10px;
  width: 680px;
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-color: #00D174;
}
.clientarea{
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-color: #00D174;
  margin: 1px;
}
.delivarea{
  margin: 1px;
  margin: 0 auto;
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-color: #00D174;
}
.tac{
  margin: 1px;
  margin: 0 auto;
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-color: #00D174;
}